:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: #08060d;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f3f4f6;
    background: #16171d;
  }
}

body {
  margin: 0;
}
